:host {
    ::ng-deep
    th.p-sortable-column.p-highlight
    {
        background: inherit;
        color:inherit;
    }
    ::ng-deep
    {
        tbody.p-datatable-tbody > tr.p-highlight button
        {
            color:white;
        }
        tbody.p-datatable-tbody > tr.p-highlight span > i
        {
            color:white !important;
        }
        tbody.p-datatable-tbody > tr.p-highlight a.no-underline
        {
            color:white;
        }
    }

    ::ng-deep
    {
        tbody.p-datatable-tbody > tr.p-highlight button:hover
        {
            color:white !important;
        }
    }

    ::ng-deep
    .p-datatable.p-datatable-sm.p-datatable-sam .p-datatable-thead > tr > th
    {
        padding:0.25rem;
    }
    ::ng-deep
    .p-datatable.p-datatable-sm.p-datatable-sam .p-datatable-tbody > tr > td
    {
        padding:0.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    ::ng-deep
    .p-datatable.p-datatable-sm.p-datatable-sam .p-datatable-tfoot > tr > td
    {
        padding:0.25rem;
    }

    th.p-sortable-column
    {
        background: inherit;
        color:inherit;
    }
    th.sa-list-column{
        background: inherit;
        color:inherit;
    }
    ::ng-deep
    .p-datatable .p-datatable-tfoot > tr > td
    {
        background: inherit;
        color:inherit;
    }
    ::ng-deep
    .p-paginator
    {
        background: inherit;
        color:inherit;
    }
}