<div class="grid" *ngIf="fullPage">
    <div class="col-12">
        <button pButton (click)="updateEdit()" label="Update" class="m-2 p-button-outlined p-button-rounded p-button-secondary"></button>
    </div>
    <div class="col-12">
        <div class="p-fluid grid mt-2">
            <div class="field col-12 md:col-10">
                <span class="p-float-label">
                    <input type="text" id="label" pInputText [(ngModel)]="fullPage.description"> 
                    <label for="label">Description</label>
                </span>
            </div>
            <div class="field col-12 md:col-2">
                <span class="p-float-label">
                    <p-dropdown inputId="type" appendTo="body" [options]="['pie','bridge']" [(ngModel)]="fullPage.type"></p-dropdown>
                    <label for="type">Type</label>
                </span>
            </div>
        </div>
    </div>
</div>
