<span class="p-float-label" *ngIf="data&&isVisible()">
    <p-autoComplete (onSelect)="contentChanged()" [multiple]="true" [dataKey]="configs.label" (onUnselect)="remove($event)" [inputId]="unique_id" [(ngModel)]="working_list" [suggestions]="search_results" (completeMethod)="search($event)">
        <ng-template let-value pTemplate="selectedItem">
            <span style="font-size:18px">{{value[configs.label]}}</span>
            <span *ngIf="configs.compulsory!=null&&value[configs.compulsory]==true" class="fluff"></span>
            <span *ngFor="let item of configs.options">
                <span *ngIf="(value[configs.compulsory]==false||configs.compulsory==undefined)&&value[item.field]==true" [ngClass]="item.icon" class="ml-1"></span>
            </span>
            <span (click)="open(value);op.toggle($event)" *ngIf="value[configs.compulsory]==false||configs.compulsory==undefined" class="ml-1 pi pi-ellipsis-v cursor-pointer"></span>
        </ng-template>
        <ng-template let-item pTemplate="item">
            <span style="font-size:18px">{{item[configs.label]}}</span>
        </ng-template>
    </p-autoComplete>
    <label [for]="unique_id">
        <span *ngIf="definition.compulsory" class="pi pi-star-fill mr-1 text-red-800"></span>
        <span>{{fieldLabel()}}</span>
        <span *ngIf="definition.info_text" class="pi pi-info-circle ml-1"></span>
    </label>
</span>
<p-overlayPanel #op appendTo="body" styleClass="prop_items" (onHide)="updatesource()">
    <ng-template pTemplate>
        <ul class="list-none" style="padding-left:0rem;margin-bottom:0rem">
            <li *ngFor="let option of configs.options"><p-checkbox [(ngModel)]="currentitem[option.field]" [label]="option.label" [binary]="true"></p-checkbox></li>
        </ul>
    </ng-template>
</p-overlayPanel>
