<p-steps [model]="workflow" [activeIndex]="currentIndex"></p-steps>
<div style="position:relative">
    <ngx-ui-loader pbColor="#883cae" [fgsSize]="0" fgsColor="#883cae" overlayColor="rgba(180,82,238,0.1)" loaderId="import_loader"></ngx-ui-loader>
    <div class="grid mt-4">
        <div class="col-12" *ngIf="currentIndex==0&&importobject==null">
                <p-fileUpload mode="advanced" [showUploadButton]="false" name="file[]" [url]="upload_url" (onUpload)="fileUpload($event)" [multiple]="false">

                </p-fileUpload>
        </div>
        <div class="col-12 align-content-center text-center" *ngIf="currentIndex==0&&importobject!=null">
            <button pButton label="Restart" class="p-button-rounded p-button-danger p-button-outlined" icon="fa-solid fa-clock-rotate-left" (click)="initialise()"></button>
        </div>
        <div class="col-12" *ngIf="currentIndex==1">
            <p-table [value]="currentsheet?.cols" [scrollable]="true" scrollHeight="300px" styleClass="p-datatable-sm">
                <ng-template pTemplate="caption">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Sheet</span>
                        <p-dropdown appendTo="body" styleClass="min-w-full" [(ngModel)]="currentsheet" [options]="importobject.sheets" optionLabel="sheetName"></p-dropdown> 
                        <span class="p-inputgroup-addon"><p-checkbox label="Ignore first row" [binary]="true" [(ngModel)]="currentsheet.ignoreFirstRow"></p-checkbox></span> 
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:5%">Column</th>
                        <th style="width:20%" *ngFor="let r of currentsheet.rows">Row {{r}}</th>
                        <th>Field</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-ri="rowIndex">
                    <tr>
                        <td style="width:5%">{{item.colno}}</td>
                        <td style="width:20%" *ngFor="let r of item.rows"><span style="overflow-x:clip" class="text-overflow-clip white-space-nowrap">{{r.value}}</span></td>
                        <td><p-dropdown appendTo="body" styleClass="p-inputtext-sm" [options]="importobject.fields" [(ngModel)]="currentsheet.mappings[ri].fieldname"></p-dropdown></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-12" *ngIf="currentIndex==2">
            <div class="grid">
                <div class="col-12" *ngIf="currentsheet.ignoreFirstRow"><i class="fa-solid fa-check mr-1 text-success"></i>Ignoring the first row</div>
                <ng-container *ngFor="let item of currentsheet.mappings">
                    <div class="col-12" *ngIf="item.fieldname!='not set'">
                        <i class="fa-solid fa-check mr-1 text-success"></i> mapping column <p-tag [rounded]="true" [value]="item.colno"></p-tag> to <p-tag [rounded]="true" [value]="item.fieldname"></p-tag>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="col-12" *ngIf="currentIndex==3">
            <p-table [value]="message" [scrollable]="true" scrollHeight="300px" styleClass="p-datatable-sm">
                <ng-template pTemplate="body" let-item let-ri="rowIndex">
                    <tr>
                        <td>{{item.message}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-6 mt-3">
            <div class="grid grid-nogutter justify-content-end">
                <p-button [disabled]="currentIndex<1" (onClick)="previousPage()" icon="pi pi-angle-left" styleClass="p-button-lg p-button-outlined p-button-secondary p-button-rounded"></p-button>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="grid grid-nogutter justify-content-start">
                <p-button styleClass="p-button-lg p-button-outlined p-button-primary p-button-rounded" [icon]="currentIndex<workflow.length-1?'pi pi-angle-right':'pi pi-check'" (onClick)="nextPage()"></p-button>
            </div>
        </div>
    </div>
</div>