<div class="mt-2" style="position: relative;height:100%">
    <ngx-ui-loader bgsPosition="center-center" pbColor="#883cae" [fgsSize]="0" fgsColor="#883cae" overlayColor="rgba(180,82,238,0.1)" loaderId="page">
        
    </ngx-ui-loader>
    <app-breadcrumb [current_route]="current_route" [hasfavourite]="true" *ngIf="page_definition" [definition]="page_definition" [crumbs]="page_definition.breadcrumb" [crumbspath]="page_definition.breadcrumb_resolve"></app-breadcrumb>
    <div class="grid pt-0">
        <div class="col-12">
            <div class="grid" *ngIf="page_definition&&page_definition.type=='display'">
                <div *ngFor="let col of page_definition.columns" class="pb-0 pt-0" [ngClass]="responsive.get(col.size)">
                    <p-divider *ngIf="col.show_description" align="left" type="dashed">
                        <h5><i *ngIf="col.icon" [ngClass]="col.icon" class="mr-1"></i>{{col.description}}</h5>
                    </p-divider>
                    <ng-container *ngFor="let panel_outer of col.panels_resolved">
                        <ng-container *ngIf="panel_outer.key==''">
                            <div *ngFor="let panel of panel_outer.panels;let i=index;" class="pb-0 pt-0 col-12" [ngClass]="responsive.get(12)">
                                <app-panel [panel_index]="i"  panel_from="page" [source_type]="section" [cacheid]="cache_id" [data]="data" [definition]="panel"></app-panel>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="panel_outer.key!=''">
                            <div class="pb-0 pt-0 col-12" [ngClass]="responsive.get(12)">
                                <p-tabView styleClass="sa-innertabview">
                                    <p-tabPanel *ngFor="let panel of panel_outer.panels;let i =index;" [header]="panel.description">
                                        <app-panel [panel_index]="i"  panel_from="tab" [source_type]="section" [cacheid]="cache_id" [data]="data" [definition]="panel"></app-panel>
                                    </p-tabPanel>
                                </p-tabView>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="grid" *ngIf="page_definition&&page_definition.type=='list'">
                <div class="col-12 sm:col-12 md:col-9 lg:col-9 xl:col-9">
                    <div class="grid mt-3" *ngIf="page_definition">
                        <div *ngFor="let col of page_definition.columns" class="pb-0 pt-0" [ngClass]="responsive.get(col.size)">
                            <ng-container *ngFor="let panel_outer of col.panels_resolved">
                                <ng-container *ngIf="panel_outer.key==''">
                                    <div *ngFor="let panel of panel_outer.panels;let i=index;" class="pb-0 pt-0 col-12" [ngClass]="responsive.get(12)">
                                        <app-panel [panel_index]="i"  panel_from="page" [source_type]="section" [cacheid]="cache_id" [data]="data" [definition]="panel"></app-panel>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="panel_outer.key!=''">
                                    <div class="pb-0 pt-0 col-12" [ngClass]="responsive.get(12)">
                                        <p-tabView styleClass="sa-innertabview">
                                            <p-tabPanel *ngFor="let panel of panel_outer.panels;let i=index" [header]="panel.description">
                                                <app-panel  panel_from="tab" [panel_index]="i" [source_type]="section" [cacheid]="cache_id" [data]="data" [definition]="panel"></app-panel>
                                            </p-tabPanel>
                                        </p-tabView>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div *ngFor="let panel_outer of page_definition.panels_resolved" class="pb-0 pt-0" [ngClass]="responsive.get(12)">
                            <ng-container *ngIf="panel_outer.key==''">
                                <div *ngFor="let panel of panel_outer.panels;let i = index;" class="pb-0 pt-0 col-12" [ngClass]="responsive.get(12)">
                                    <app-panel [panel_index]="i" panel_from="page" [source_type]="section" [cacheid]="cache_id" [data]="data" [definition]="panel"></app-panel>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="panel_outer.key!=''">
                                <div class="pb-0 pt-0 col-12" [ngClass]="responsive.get(12)">
                                    <p-tabView styleClass="sa-innertabview">
                                        <p-tabPanel *ngFor="let panel of panel_outer.panels;let i=index;" [header]="panel.description">
                                            <app-panel [panel_index]="i"  panel_from="tab" [source_type]="section" [cacheid]="cache_id" [data]="data" [definition]="panel"></app-panel>
                                        </p-tabPanel>
                                    </p-tabView>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="hidden sm:hidden md:block md:col-3 lg:block lg:col-3 xl:block xl:col-3">
                    <app-actionpanel [definition]="page_definition"></app-actionpanel>
                </div>
            </div>
        </div>
    </div>
</div>


