<div class="grid">
    <div class="col-3">
        <div class="grid">
            <div class="col-12">
                <button pButton  label="New" class="m-2 p-button-outlined p-button-rounded p-button-secondary"></button>
                <button pButton *ngIf="selectedObject!=null" label="Delete" class="m-2 p-button-outlined p-button-rounded p-button-danger"></button>
            </div>
            <div class="col-12">
                <p-tabView (onChange)="tabChanged($event)">
                    <p-tabPanel header="Forms">
                        <p-table [value]="pages" selectionMode="single" (onRowSelect)="rowSelected('form')" (onRowUnselect)="rowSelected('form')" [(selection)]="selectedObject" dataKey="id">
                            <ng-template pTemplate="body" let-page>
                                <tr [pSelectableRow]="page">
                                    <td>{{page.description}}</td>
                                    <td>{{page.type}}</td>
                                    <td>
                                        <button pButton (click)="delete('form',page)" class="ml-2 p-button-sm p-button-rounded p-button-outlined p-button-danger" icon="fa-solid fa-trash"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabPanel>
                    <p-tabPanel header="Column Sets">
                        <p-table [value]="columns" selectionMode="single" (onRowSelect)="rowSelected('column')" (onRowUnselect)="rowSelected('column')" [(selection)]="selectedObject" dataKey="id">
                            <ng-template pTemplate="body" let-column>
                                <tr [pSelectableRow]="column">
                                    <td>{{column.description}}</td>
                                    <td>
                                        <button pButton (click)="delete('column',column)" class="ml-2 p-button-sm p-button-rounded p-button-outlined p-button-danger" icon="fa-solid fa-trash"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabPanel>
                    <p-tabPanel header="Field Sets">
                        <p-table [value]="fields" selectionMode="single" (onRowSelect)="rowSelected('field')" (onRowUnselect)="rowSelected('field')" [(selection)]="selectedObject" dataKey="id">
                            <ng-template pTemplate="body" let-field>
                                <tr [pSelectableRow]="field">
                                    <td>{{field.description}}</td>
                                    <td>
                                        <button pButton (click)="delete('field',field)" class="ml-2 p-button-sm p-button-rounded p-button-outlined p-button-danger" icon="fa-solid fa-trash"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabPanel>
                    <p-tabPanel header="Button Sets">
                        <p-table [value]="buttons" selectionMode="single" (onRowSelect)="rowSelected('button')" (onRowUnselect)="rowSelected('button')" [(selection)]="selectedObject" dataKey="id">
                            <ng-template pTemplate="body" let-button>
                                <tr [pSelectableRow]="button">
                                    <td>{{button.description}}</td>
                                    <td>
                                        <button pButton (click)="delete('button',button)" class="ml-2 p-button-sm p-button-rounded p-button-outlined p-button-danger" icon="fa-solid fa-trash"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
    <div class="col-9">
        <app-form-outline *ngIf="fullObject&&objectType=='form'" [buttonlist]="buttons" [fullPage]="fullObject"></app-form-outline>
        <app-column-outline *ngIf="fullObject&&objectType=='column'" [fullPage]="fullObject"></app-column-outline>
        <app-field-outline *ngIf="fullObject&&objectType=='field'" [fullPage]="fullObject"></app-field-outline>
        <app-button-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='button'" [fullPage]="fullObject"></app-button-outline>
    </div>
</div>
