<div class="grid">
    <div class="col-4">
        <div class="grid">
            <div class="col-12">
                <button pButton  label="New" (click)="newObject()"  class="m-2 p-button-outlined p-button-rounded p-button-secondary"></button>
                <button pButton  label="Clear Cache" (click)="clearCache()"  class="m-2 p-button-outlined p-button-rounded p-button-secondary"></button>
                <button pButton  label="Create Cache" (click)="createCache()"  class="m-2 p-button-outlined p-button-rounded p-button-secondary"></button>
             </div>
            <div class="col-12">
                <p-accordion (onOpen)="tabChanged($event)" (onClose)="closeTab($event)">
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Forms <p-chip styleClass="ml-2 custom-chip" *ngIf="pages.length>0" [label]="pages.length.toString()"></p-chip>
                        </ng-template>
                        <p-table #dt1 [globalFilterFields]="['description']" [value]="pages" selectionMode="single" (onRowSelect)="rowSelected('form')" (onRowUnselect)="rowSelected('form')" [(selection)]="selectedObject" dataKey="id">
                            <ng-template pTemplate="caption">
                                <div class="flex">
                                    <span class="p-input-icon-left ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="applyFilter(dt1,$event)" placeholder="Search keyword"/>
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="body" let-page>
                                <tr [pSelectableRow]="page">
                                    <td>{{page.description}} ({{page.type}}) <p-chip styleClass="ml-2 custom-chip" [label]="page.id"></p-chip></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-accordionTab>
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Column Sets <p-chip styleClass="ml-2 custom-chip" *ngIf="columns.length>0" [label]="columns.length.toString()"></p-chip>
                        </ng-template>
                        <p-table [value]="columns" selectionMode="single" (onRowSelect)="rowSelected('column')" (onRowUnselect)="rowSelected('column')" [(selection)]="selectedObject" dataKey="id">
                            <ng-template pTemplate="body" let-column>
                                <tr [pSelectableRow]="column">
                                    <td>{{column.description}}<p-chip styleClass="ml-2 custom-chip" [label]="column.id"></p-chip></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-accordionTab>
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Fields Sets <p-chip styleClass="ml-2 custom-chip" *ngIf="fields.length>0" [label]="fields.length.toString()"></p-chip>
                        </ng-template>
                        <p-table [value]="fields" selectionMode="single" (onRowSelect)="rowSelected('field')" (onRowUnselect)="rowSelected('field')" [(selection)]="selectedObject" dataKey="id">
                            <ng-template pTemplate="body" let-field>
                                <tr [pSelectableRow]="field">
                                    <td>{{field.description}}<p-chip styleClass="ml-2 custom-chip" [label]="field.id"></p-chip></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-accordionTab>
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Button Sets <p-chip styleClass="ml-2 custom-chip" *ngIf="buttons.length>0" [label]="buttons.length.toString()"></p-chip>
                        </ng-template>
                        <p-table [value]="buttons" selectionMode="single" (onRowSelect)="rowSelected('button')" (onRowUnselect)="rowSelected('button')" [(selection)]="selectedObject" dataKey="id">
                            <ng-template pTemplate="body" let-button>
                                <tr [pSelectableRow]="button">
                                    <td>{{button.description}}<p-chip styleClass="ml-2 custom-chip" [label]="button.id"></p-chip></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-accordionTab>
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Lookups <p-chip styleClass="ml-2 custom-chip" *ngIf="lookups.length>0" [label]="lookups.length.toString()"></p-chip>
                        </ng-template>
                        <p-table [value]="lookups" selectionMode="single" (onRowSelect)="rowSelected('lookup')" (onRowUnselect)="rowSelected('lookup')" [(selection)]="selectedObject" dataKey="id">
                            <ng-template pTemplate="body" let-lookup>
                                <tr [pSelectableRow]="lookup">
                                    <td>{{lookup.description}}<p-chip styleClass="ml-2 custom-chip" [label]="lookup.id"></p-chip></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-accordionTab>
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Actions Sets <p-chip styleClass="ml-2 custom-chip" *ngIf="actions.length>0" [label]="actions.length.toString()"></p-chip>
                        </ng-template>
                        <p-table [value]="actions" selectionMode="single" (onRowSelect)="rowSelected('action')" (onRowUnselect)="rowSelected('action')" [(selection)]="selectedObject" dataKey="id">
                            <ng-template pTemplate="body" let-action>
                                <tr [pSelectableRow]="action">
                                    <td>{{action.description}}<p-chip styleClass="ml-2 custom-chip" [label]="action.id"></p-chip></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-accordionTab>
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Lists <p-chip styleClass="ml-2 custom-chip" *ngIf="lists.length>0" [label]="lists.length.toString()"></p-chip>
                        </ng-template>
                        <p-table [value]="lists" selectionMode="single" (onRowSelect)="rowSelected('list')" (onRowUnselect)="rowSelected('list')" [(selection)]="selectedObject" dataKey="id">
                            <ng-template pTemplate="body" let-list>
                                <tr [pSelectableRow]="list">
                                    <td>{{list.description}}<p-chip styleClass="ml-2 custom-chip" [label]="list.id"></p-chip></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-accordionTab>
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Charts <p-chip styleClass="ml-2 custom-chip" *ngIf="charts.length>0" [label]="charts.length.toString()"></p-chip>
                        </ng-template>
                        <p-table [value]="charts" selectionMode="single" (onRowSelect)="rowSelected('chart')" (onRowUnselect)="rowSelected('chart')" [(selection)]="selectedObject" dataKey="id">
                            <ng-template pTemplate="body" let-chart>
                                <tr [pSelectableRow]="chart">
                                    <td>{{chart.description}}<p-chip styleClass="ml-2 custom-chip" [label]="chart.id"></p-chip></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-accordionTab>
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Sundry Fields <p-chip styleClass="ml-2 custom-chip" *ngIf="sundryfields.length>0" [label]="sundryfields.length.toString()"></p-chip>
                        </ng-template>
                        <p-table [value]="sundryfields" selectionMode="single" (onRowSelect)="rowSelected('sundryfield')" (onRowUnselect)="rowSelected('sundryfield')" [(selection)]="selectedObject" dataKey="id">
                            <ng-template pTemplate="body" let-sundryfield>
                                <tr [pSelectableRow]="sundryfield">
                                    <td>{{sundryfield.label}}<p-chip styleClass="ml-2 custom-chip" [label]="sundryfield.id"></p-chip></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-accordionTab>
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Caches <p-chip styleClass="ml-2 custom-chip" *ngIf="caches.length>0" [label]="caches.length.toString()"></p-chip>
                        </ng-template>
                        <p-table [value]="caches">
                            <ng-template pTemplate="body" let-cache>
                                <tr>
                                    <td>{{cache}} <button pButton icon="fa-solid fa-trash" (click)="deleteCache(cache)" class="p-button-danger"></button></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
    </div>
    <div class="col-8">
        <app-form-outline *ngIf="fullObject&&objectType=='form'" [chartlist]="charts" [lookuplist]="lookups" [listlist]="lists" [fieldlist]="fields" [actionlist]="actions" [buttonlist]="buttons" [fullPage]="fullObject"></app-form-outline>
        <app-column-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='column'" [lookuplist]="lookups" [fullPage]="fullObject"></app-column-outline>
        <app-field-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='field'" [actionlist]="actions" [lookuplist]="lookups" [fullPage]="fullObject"></app-field-outline>
        <app-button-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='button'" [fullPage]="fullObject"></app-button-outline>
        <app-lookup-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='lookup'" [fullPage]="fullObject"></app-lookup-outline>
        <app-action-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='action'" [fullPage]="fullObject"></app-action-outline>
        <app-sundryfield-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='sundryfield'" [actionlist]="actions" [lookuplist]="lookups" [fullPage]="fullObject"></app-sundryfield-outline>
        <app-list-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='list'" [actionlist]="actions" [buttonlist]="buttons" [columnlist]="columns" [fullPage]="fullObject"></app-list-outline>
        <app-chart-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='chart'" [fullPage]="fullObject"></app-chart-outline>
    </div>
</div>
