<span class="p-float-label" *ngIf="data">
    <p-autoComplete (onSelect)="contentChanged()" [multiple]="false" [field]="configs.label" [dataKey]="configs.id" (onUnselect)="remove($event)" [inputId]="unique_id" [(ngModel)]="data[definition.fieldname]" [suggestions]="search_results" (completeMethod)="search($event)">
        <ng-template let-value pTemplate="selectedItem">
            <span style="font-size:18px">{{value[configs.label]}}</span>        
        </ng-template>
        <ng-template let-item pTemplate="item">
            <span style="font-size:18px">{{item[configs.label]}}</span>
        </ng-template>
    </p-autoComplete>
    <label [for]="unique_id">
        <span *ngIf="definition.compulsory" class="pi pi-star-fill mr-1 text-red-800"></span>
        <span>{{definition.label}}</span>
        <span *ngIf="definition.info_text" class="pi pi-info-circle ml-1"></span>
    </label>
</span>
