    <div class="p-inputgroup" *ngIf="isVisible()">
        <span class="p-float-label" *ngIf="definition">
        <input type="text" [id]="unique_id" pInputText [disabled]="true" [value]="resolveDisplay()">    
            <label [for]="unique_id" class="label-overflow">
                <span *ngIf="definition.compulsory" class="pi pi-star-fill mr-1 text-red-800"></span>
                <span>{{fieldLabel()}}</span>
                <span *ngIf="definition.info_text" class="pi pi-info-circle ml-1"></span>
            </label>
        </span>
        <span class="p-buttonset" style="white-space:nowrap">
        <button [disabled]="disabled" type="button" (click)="op.toggle($event)" class="p-button-primary button-prounding" icon="fa-solid fa-search" pButton></button>  
        <button [disabled]="disabled" type="button" (click)="clearentry()" class="p-button-danger button-rounding" icon="fa-solid fa-eraser" pButton></button>  
    </span>  
    </div>
    <p-blockUI [blocked]="blocked" [autoZIndex]="false" [baseZIndex]="1000"></p-blockUI>
    <p-overlayPanel #op appendTo="body" (onShow)="blocked=true;" (onHide)="blocked=false;" [focusOnShow]="true" styleClass="overlay-width shadow-9 max-h-25rem">
        <ng-template pTemplate>
            <div style="position:relative">
                <app-ac-single-search [title]="fieldLabel()" [local_source_type]="checkSourceType()" [source_type]="source_type" [data]="parentdata" (new_record_selected)="new_record(op)" [hasnew]="hasnewbutton()" (item_selected)="item_selected_on_list($event)" [dialog]="op" [definition]="definition" [configs]="configs"></app-ac-single-search>
            </div>
        </ng-template>
    </p-overlayPanel>
