
:host {
    ::ng-deep
    span.sa-note-display
    {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    ::ng-deep
    span.sa-note-display:hover
    {
        display: block;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    ::ng-deep
    span.sa-tag-slim>span.p-tag-value
    {
        font-size: 0.6rem;
        font-weight: 400;
        line-height: 1.25;
    }
    ::ng-deep
    span.sa-link-display
    {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
