<div style="position: relative">
    <ngx-ui-loader pbColor="#883cae" [fgsSize]="0" fgsColor="#883cae" overlayColor="rgba(180,82,238,0.1)" [loaderId]="loader_key"></ngx-ui-loader>
    <div class="grid">
        <div class="col-12">{{definition.help_text}}</div>
        <div class="col-12"><p-divider styleClass="mb-1"></p-divider></div>
        <div class="col-12">
            <div class="grid" *ngIf="definition">
                <div *ngFor="let col of definition.columns" class="pb-0 pt-0" [ngClass]="responsive.get(col.size)">
                        <ng-container *ngFor="let panel of col.panels">
                            <app-panel [data]="data" [definition]="panel"></app-panel>
                        </ng-container>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="grid" *ngIf="definition">
                <div *ngFor="let panel of definition.panels" class="pb-0 pt-0 col-12" [ngClass]="responsive.get(12)">
                    <app-panel [data]="data" [dialog]="true" [definition]="panel"></app-panel>
                </div>
            </div>
        </div>
        <div class="col-12"><p-divider styleClass="mt-0 mb-0"></p-divider></div>
        <div class="col-12 text-right">
            <app-buttongroup (itemselected)="buttonpressed($event)" [buttons]="definition.pagebuttons" location="dialog"></app-buttongroup>
        </div>
    </div>
</div>
