<ng-container *ngIf="definition.type=='tex_disp'">
    <app-list-col-text [data]="data" [definition]="definition"></app-list-col-text>
</ng-container>
<ng-container *ngIf="definition.type=='num_disp'">
    <app-list-col-number [data]="data" [definition]="definition"></app-list-col-number>
</ng-container>
<ng-container *ngIf="definition.type=='dat_disp'">
    <app-list-col-date [data]="data" [definition]="definition"></app-list-col-date>
</ng-container>
<ng-container *ngIf="definition.type=='lkp_disp'">
    <app-list-col-lookup [data]="data" [definition]="definition"></app-list-col-lookup>
</ng-container>
<ng-container *ngIf="definition.type=='mdl_disp'">
    <app-list-col-mdl [data]="data" [definition]="definition"></app-list-col-mdl>
</ng-container>
<ng-container *ngIf="definition.type=='tag_disp'">
    <app-list-col-tag [data]="data" [definition]="definition"></app-list-col-tag>
</ng-container>
<ng-container *ngIf="definition.type=='link_disp'">
    <app-list-col-link [data]="data" [definition]="definition"></app-list-col-link>
</ng-container>
<ng-container *ngIf="definition.type=='bool_disp'">
    <app-list-col-boolean [data]="data" [definition]="definition"></app-list-col-boolean>
</ng-container>

