<span class="p-float-label" *ngIf="data&&isVisible()">
    <p-inputNumber (onBlur)="number_updated($event)" inputStyleClass="text-right" [disabled]="disableOn(definition.disable_on)" [inputId]="unique_id" [(ngModel)]="data[definition.fieldname]" [suffix]="definition.suffix" [minFractionDigits]="resolveMin()" mode="decimal"></p-inputNumber>
    <label class="label-right" [for]="unique_id">
        <span *ngIf="definition.compulsory" class="pi pi-star-fill mr-1 text-red-800"></span>
        <span>{{fieldLabel()}}</span>
        <span *ngIf="definition.info_text" class="pi pi-info-circle ml-1"></span>
    </label>
</span>
