<span class="p-float-label" *ngIf="data&&isVisible()">
    <p-dropdown  [disabled]="disableOn(definition.disable_on)" [inputId]="unique_id" [options]="content" [(ngModel)]="data[definition.fieldname]" optionValue="c" optionLabel="n"></p-dropdown>
    <label [for]="unique_id">
        <span *ngIf="definition.compulsory" class="pi pi-star-fill mr-1 text-red-800"></span>
        <span>{{fieldLabel()}}</span>
        <span *ngIf="definition.info_text" class="pi pi-info-circle ml-1"></span>
    </label>
</span>

