<div style="position:relative">
    <ngx-ui-loader pbColor="#883cae" [fgsSize]="0" fgsColor="#883cae" overlayColor="rgba(180,82,238,0.1)" [loaderId]="loader_key"></ngx-ui-loader>
    <p-table
    [lazy]="true"
    [value]="list_content" 
    styleClass="p-datatable-sm p-datatable-sam" >

    <ng-template pTemplate="header">
        <tr>
            <th [pSortableColumn]="tool.resolveSort(column)" [ngClass]="tool.alignment(column.alignment)" *ngFor="let column of tool.resolveColumns(definition.columnset?.list_columns)">
                <span *ngIf="column.type!='tag_disp'">{{column.label}}</span>
                <span *ngIf="column.type=='tag_disp'"></span>
                <p-sortIcon *ngIf="column.sortable" [field]="column.field"></p-sortIcon>
            </th>
            <th class="sa-list-column text-right" *ngIf="definition?.buttonset">
                <app-buttongroup (itemselected)="buttonclick($event)" [buttons]="definition.buttonset" location="top"></app-buttongroup>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
        <tr [ngClass]="item.calc==true?'report_calc_row':''">
            <td [ngClass]="tool.alignment(column.alignment)"  *ngFor="let column of tool.resolveColumns(definition.columnset?.list_columns)">
                <app-listcolumn (buttonclick)="onCellButtonClick($event)" [data]="item" [definition]="column"></app-listcolumn>
            </td>
            <td class="text-right" *ngIf="definition?.buttonset">
                <app-buttongroup [data]="item" [rowIndex]="rowIndex" (itemselected)="buttonclick($event)" [buttons]="definition.buttonset" location="row"></app-buttongroup>
            </td>
        </tr>
    </ng-template>
    </p-table>
</div>
