<app-form-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='form'" [lookuplist]="lookuplist" [listlist]="listlist" [fieldlist]="fieldlist" [actionlist]="actionlist" [buttonlist]="buttonlist" [fullPage]="fullObject"></app-form-outline>
<app-column-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='column'" [lookuplist]="lookuplist" [fullPage]="fullObject"></app-column-outline>
<app-field-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='field'" [lookuplist]="lookuplist" [fullPage]="fullObject"></app-field-outline>
<app-button-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='button'" [fullPage]="fullObject"></app-button-outline>
<app-lookup-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='lookup'" [fullPage]="fullObject"></app-lookup-outline>
<app-action-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='action'" [fullPage]="fullObject"></app-action-outline>
<app-chart-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='chart'" [fullPage]="fullObject"></app-chart-outline>
<app-list-outline (done)="refresh($event)" *ngIf="fullObject&&objectType=='list'" [actionlist]="actionlist" [buttonlist]="buttonlist" [columnlist]="columnlist" [fullPage]="fullObject"></app-list-outline>

