<div class="grid" *ngIf="fullPage">
    <div class="col-12">
        <button pButton (click)="updateEdit()" label="Update" class="m-2 p-button-outlined p-button-rounded p-button-secondary"></button>
    </div>
    <div class="col-12">
        <div class="p-fluid grid mt-3">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="description" pInputText [(ngModel)]="fullPage.description"> 
                    <label for="description">Description</label>
                </span>
            </div>
            <div class="field col-12 md:col-2">
                <span class="p-float-label">
                    <p-dropdown [options]="['list','display','dialog','page']" [(ngModel)]="fullPage.type"></p-dropdown>
                    <label for="icon">Type</label>
                </span>
            </div>
            <div class="field col-12 md:col-2">
                <span class="p-float-label">
                    <p-dropdown inputId="format_type" [options]="['columns','panels']" [(ngModel)]="fullPage.format_type"></p-dropdown>
                    <label for="format_type">Type</label>
                </span>
            </div>
            <div class="field col-12 md:col-2">
                <span class="p-float-label">
                    <p-dropdown inputId="colour" appendTo="body" [options]="['primary','secondary','danger','success','info','warning']" [(ngModel)]="fullPage.colour"></p-dropdown>
                    <label for="colour">Colour</label>
                </span>
            </div>
            <div class="field col-12 md:col-2">
                <span class="p-float-label">
                    <input type="text" [disabled]="fullPage.type!='page'" id="unique_key" pInputText [(ngModel)]="fullPage.unique_key"> 
                    <label for="unique_key">Unique Key</label>
                </span>
            </div>
            <div class="col-12" *ngIf="fullPage.type=='page'||fullPage.type=='dialog'">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <span class="p-float-label">
                            <input type="text" id="data_url" pInputText [(ngModel)]="fullPage.data_url"> 
                            <label for="data_url">Data Url</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-6">
                        <span class="p-float-label">
                            <input type="text" id="initialise_url" pInputText [(ngModel)]="fullPage.initialise_url"> 
                            <label for="data_url">Initialise Url</label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="field col-6">
                <span class="p-float-label">
                    <textarea pInputTextarea pInputTextarea rows="2" [(ngModel)]="fullPage.help_text"></textarea>
                    <label for="help_text">Help Text</label>
                </span>
            </div>
            <div class="field col-3">
                <span class="p-float-label">
                    <p-dropdown inputId="button_set_id"  [autoDisplayFirst]="false" [options]="buttonlist" [showClear]="true" [filter]="true" [filterBy]="'description'" [(ngModel)]="fullPage.button_set_id" optionLabel="description" optionValue="id">
                        <ng-template let-item pTemplate="item">
                            <span>{{item.description}}</span>
                        </ng-template>
                    </p-dropdown>
                    <label for="button_set_id">Buttons</label>
                </span>
            </div>
            <div class="field col-3">
                <span class="p-float-label">
                    <p-dropdown inputId="actionset_id" [autoDisplayFirst]="false" [options]="actionlist" [showClear]="true" [filter]="true" [filterBy]="'description'" [(ngModel)]="fullPage.actionset_id" optionLabel="description" optionValue="id">
                        <ng-template let-item pTemplate="item">
                            <span>{{item.description}}</span>
                        </ng-template>
                    </p-dropdown>
                    <label for="actionset_id">Actions</label>
                </span>
            </div>
            <div class="col-12"  *ngIf="fullPage.type!='dialog'">
                <div class="grid">
                    <div  class="field col-12 md:col-6">
                        <span class="p-float-label">
                            <input type="text" id="breadcrumb" pInputText [(ngModel)]="fullPage.breadcrumb"> 
                            <label for="breadcrumb">Breadcrumb</label>
                        </span>
                    </div>
                    <div  class="field col-12 md:col-6">
                        <span class="p-float-label">
                            <input type="text" id="breadcrumb_resolve" pInputText [(ngModel)]="fullPage.breadcrumb_resolve"> 
                            <label for="breadcrumb_resolve">Breadcrumb Resolve</label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="fullPage.type=='dialog'">
                <div class="grid">
                    <div  class="field col-2">
                        <span class="flex">
                            <p-inputSwitch styleClass="mt-1" inputId="closeable" [(ngModel)]="fullPage.closeable"></p-inputSwitch>
                            <label class="pl-2 pt-2" for="closeable">Closeable</label>
                        </span>
                    </div>
                    <div  class="field col-2">
                        <span class="p-float-label">
                            <p-inputNumber [min]="10" [max]="100" inputId="dialog_width" [(ngModel)]="fullPage.dialog_width" [showButtons]="true" [maxFractionDigits]="0" mode="decimal"></p-inputNumber>
                            <label for="dialog_width">Width</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6" *ngIf="fullPage.format_type=='panels'">
        <app-panel-outline [lookuplist]="lookuplist" [fieldlist]="fieldlist" [listlist]="listlist" [(panels)]="fullPage.panels"></app-panel-outline>
    </div>
    <div class="col-6" *ngIf="fullPage.format_type=='columns'">
        <app-pagecolumn-outline [(columns)]="fullPage.columns" [lookuplist]="lookuplist" [fieldlist]="fieldlist" [listlist]="listlist"></app-pagecolumn-outline>
    </div>
    <div class="col-6" *ngIf="fullPage.actionset_id!=undefined&&fullPage.actionset_id!=null&&fullPage.actionset_id!=0">
        <app-actioncustom-outline [(items)]="fullPage.action_customisations"></app-actioncustom-outline>
    </div>
</div>



