
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
//  $user-interface-primary: mat.define-palette(mat.$indigo-palette);
//  $user-interface-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // // The warn palette is optional (defaults to red).
//  $user-interface-warn: mat.define-palette(mat.$red-palette);

// // // Create the theme object. A theme consists of configurations for individual
// // // theming systems such as "color" or "typography".
//  $user-interface-theme: mat.define-light-theme((
//    color: (
//      primary: $user-interface-primary,
//      accent: $user-interface-accent,
//      warn: $user-interface-warn,
//    )
//  ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($user-interface-theme);

/* You can add global styles to this file, and also import other style files */
.per100
{
    width:100%;
}
.page-info
{
    height:58.21px;
}

.sa-dialog-scroll-fix .p-dialog-content
{
    overflow-y: visible;
}

.p-menubar .p-submenu-list {
    z-index: 10 !important;
}

span.p-button-set
{
    white-space: nowrap;
}

div.p-dialog div.p-dialog-header
{
    border-bottom:none;
}

button.p-component.button-rounding
{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

button.p-component.button-subtle
{
    opacity: .75;
}

button.p-component.button-subtle:hover
{
    opacity: 1;
}

button.p-component.button-prounding
{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

div.sa-innertabview.p-tabview .p-tabview-panels
{
    padding-left:0;
    padding-right:0;
}

div.sa_menu
{
    position:sticky;
    top:0;
    z-index: 1099;
}
div.overlay-width
{
    max-width: 500px;
}

.on_top_of_everything
{
    z-index:10000;
}

fieldset.sa-legend legend
{
    padding: 1rem 1.25rem;
    border: 1px solid #dee2e6;
    color: #212529;
    background: #efefef;
    font-weight: 600;
    border-radius: 4px;
}
html, body { height: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.shadow-9 {
    box-shadow: 0px 9px 46px 8px rgb(0 0 0 / 12%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 11px 15px rgb(0 0 0 / 20%) !important;
}

label.label-right
{
    left:inherit;
    right:0.5rem;
}
