<p-panel *ngIf="definition.has_border==true" 
[showHeader]="definition.display_description" 
expandIcon="pi pi-angle-down" collapseIcon="pi pi-angle-up" 
[toggleable]="true" styleClass="mb-2">
    <ng-template pTemplate="header" *ngIf="definition.display_description">
        <span><i [ngClass]="definition.icon"></i></span><span class="ml-1">{{definition.description}}</span>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="p-fluid grid mt-2" *ngIf="definition.field">
            <div class="mb-2 mt-1" [ngClass]="responsive.get(definition.field.size)">
                <app-fieldpicker [source_type]="source_type" (value_changed)="field_changed($event)" [field]="definition.field" [parentdata]="data" [data]="local_data"></app-fieldpicker>
            </div>
        </div>
        <ng-container *ngIf="definition.list&&definition.type=='list'">
            <app-list (list_selection_changed)="list_changed($event)" [source_type]="source_type" [cacheid]="cacheid" [data]="local_data" [definition]="definition.list"></app-list>
        </ng-container>
        <ng-container *ngIf="definition.list&&definition.type=='listi'">
            <app-listi [source_type]="source_type" [cacheid]="cacheid" [data]="local_data" [definition]="definition.list"></app-listi>
        </ng-container>
        <ng-container  *ngIf="definition.fieldset&&definition.type=='field'">
            <app-fieldset [panel_index]="panel_index" [panel_from]="panel_from"  [source_type]="source_type" [dialog]="dialog" [data]="local_data" [definition]="definition.fieldset"></app-fieldset>
        </ng-container>
        <ng-container *ngIf="definition.type=='note'">
            <app-note-viewer *ngIf="local_data" [data]="local_data"></app-note-viewer>
        </ng-container>
    </ng-template>
</p-panel>
<ng-container *ngIf="definition.has_border==false">
    <div class="p-fluid grid mt-2" *ngIf="definition.field">
        <div class="mb-2 mt-1" [ngClass]="responsive.get(definition.field.size)">
            <app-fieldpicker [source_type]="source_type" (value_changed)="field_changed($event)" [field]="definition.field" [parentdata]="data" [data]="local_data"></app-fieldpicker>
        </div>
    </div>
    <div class="grid">
        <div class="col-12" *ngIf="definition.display_description">
            <p-divider styleClass="mb-0 mt-1">{{definition.description}}</p-divider>
        </div>
        <div class="col-12" [ngClass]="decor.resolveNonePanelBackground(definition.colour)" *ngIf="definition.list&&definition.type=='list'">
            <app-list (list_selection_changed)="list_changed($event)" [source_type]="source_type" [cacheid]="cacheid" [data]="local_data" [definition]="definition.list"></app-list>
        </div>
        <div class="col-12" [ngClass]="decor.resolveNonePanelBackground(definition.colour)" *ngIf="definition.list&&definition.type=='listi'">
            <app-listi [source_type]="source_type" [cacheid]="cacheid" [data]="local_data" [definition]="definition.list"></app-listi>
        </div>
        <div class="col-12" *ngIf="definition.fieldset&&definition.type=='field'">
            <app-fieldset [panel_index]="panel_index" [panel_from]="panel_from" [source_type]="source_type" [dialog]="dialog" [data]="local_data" [definition]="definition.fieldset"></app-fieldset>
        </div>
        <div class="col-12" *ngIf="definition.type=='note'">
            <app-note-viewer *ngIf="local_data" [data]="local_data"></app-note-viewer>
        </div>
    </div>
</ng-container>

