<p-panel *ngIf="definition.has_border==true" expandIcon="pi pi-angle-down" collapseIcon="pi pi-angle-up" [toggleable]="true" styleClass="mb-2" >
    <ng-template pTemplate="header" *ngIf="definition.display_description">
        {{definition.description}}
    </ng-template>
    <ng-template pTemplate="content">
        <ng-container *ngFor="let list of definition.lists">
            <app-list [source_type]="source_type" [cacheid]="cacheid" [data]="data" [definition]="list"></app-list>
        </ng-container>
        <ng-container  *ngIf="definition.fieldset">
                <app-fieldset [data]="data" [definition]="definition.fieldset"></app-fieldset>
        </ng-container>
    </ng-template>
</p-panel>
<ng-container *ngIf="definition.has_border==false">
    <ng-container *ngFor="let list of definition.lists">
        <app-list [source_type]="source_type" [cacheid]="cacheid" [data]="data" [definition]="list"></app-list>
    </ng-container>
    <ng-container  *ngIf="definition.fieldset">
        <app-fieldset [data]="data" [definition]="definition.fieldset"></app-fieldset>
    </ng-container>
</ng-container>

