<p-panel *ngIf="definition.has_border==true" [showHeader]="definition.display_description" expandIcon="pi pi-angle-down" collapseIcon="pi pi-angle-up" [toggleable]="true" styleClass="mb-2" >
    <ng-template pTemplate="header" *ngIf="definition.display_description">
        {{definition.description}}
    </ng-template>
    <ng-template pTemplate="content">
        <div class="p-fluid grid mt-2" *ngIf="definition.field">
            <div class="mb-2 mt-1" [ngClass]="responsive.get(definition.field.size)">
                <app-fieldpicker (value_changed)="field_changed($event)" [field]="definition.field" [parentdata]="data" [data]="local_data"></app-fieldpicker>
            </div>
        </div>
        <ng-container *ngIf="definition.list">
            <app-list [source_type]="source_type" [cacheid]="cacheid" [data]="local_data" [definition]="definition.list"></app-list>
        </ng-container>
        <ng-container  *ngIf="definition.fieldset">
            <app-fieldset [dialog]="dialog" [data]="local_data" [definition]="definition.fieldset"></app-fieldset>
        </ng-container>
    </ng-template>
</p-panel>
<ng-container *ngIf="definition.has_border==false">
    <div class="p-fluid grid mt-2" *ngIf="definition.field">
        <div class="mb-2 mt-1" [ngClass]="responsive.get(definition.field.size)">
            <app-fieldpicker (value_changed)="field_changed($event)" [field]="definition.field" [parentdata]="data" [data]="local_data"></app-fieldpicker>
        </div>
    </div>
    <div class="grid">
        <div class="col-12" *ngIf="definition.display_description">
            <p-divider styleClass="mb-0 mt-1">{{definition.description}}</p-divider>
        </div>
        <div class="col-12" *ngIf="definition.list">
            <app-list [source_type]="source_type" [cacheid]="cacheid" [data]="local_data" [definition]="definition.list"></app-list>
        </div>
        <div class="col-12" *ngIf="definition.fieldset">
            <app-fieldset [dialog]="dialog" [data]="local_data" [definition]="definition.fieldset"></app-fieldset>
        </div>
    </div>
</ng-container>

