<span class="p-float-label" *ngIf="isVisible()">
    <span class="p-inputgroup">
        <ng-container *ngFor="let opt of options">
            <p-autoComplete 
            [suggestions]="resultsets[opt.type]" 
            [(ngModel)]="opt.record" 
            [placeholder]="opt.compulsory?'*'+opt.title:opt.title" 
            [inputId]="unique_id"
            (onSelect)="item_selected(opt)"
            (onClear)="item_selected(opt)"
            pFocusTrap [pFocusTrapDisabled]="searching==false"
            [forceSelection]="true"
            *ngIf="opt.visible==true"
             (completeMethod)="searchSegment($event,opt)"
             [field]="opt.display_fields[0]"
             >
             <ng-template let-item pTemplate="item">
                {{item[opt.display_fields[1]]}}
             </ng-template>
            </p-autoComplete>
        </ng-container>
        <button (click)="op.toggle($event)" class="button-rounding" pButton icon="fa-solid fa-search"></button>
    </span>
    <label [for]="unique_id">
        <span *ngIf="definition.compulsory" class="mr-1 text-red-800">*</span>
        <span>{{fieldLabel()}}</span>
        <span *ngIf="definition.info_text" class="pi pi-info-circle ml-1"></span>
    </label>
</span>
<p-blockUI [blocked]="blocked" [autoZIndex]="false" [baseZIndex]="1000"></p-blockUI>
<p-overlayPanel #op appendTo="body" (onShow)="blocked=true;" (onHide)="blocked=false;" [focusOnShow]="true" styleClass="max-w-30rem shadow-9">
    <div class="grid p-fluid mt-4">
        <div class="col-12 mt-3" *ngFor="let op of options">
            <app-ac-single-entry (value_changed)="common.item_selected(op,local_data_source,options)" [data]="op" [definition]="common.resolveDefinition(op)"></app-ac-single-entry>
        </div>
    </div>
</p-overlayPanel>
