:host {
    ::ng-deep
    span.p-autocomplete.p-component
    {
        width:100%;
    }
    ::ng-deep
    .sa-form-one
    {
        border-right-width: 0;
        border-left-width: 0;
    }
    ::ng-deep
    .sa-form-first
    {
        border-right-width: 0;
        border-left-width: 1;
    }
}
label
{
    top: -0.75rem;
    font-size: 12px;
}