<div class="p-breadcrumb hidden sm:hidden md:flex lg:flex xl:flex flex-nowrap justify-content-between align-content-evenly mb-2 h-4rem">
    <div class="align-self-start mt-1">
        <p-breadcrumb styleClass="strip_style" [model]="items" [home]="home" homeAriaLabel="Go Home"></p-breadcrumb>
    </div>
    <div class="align-self-end" *ngIf="period_selector">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Period</span>
            <p-dropdown (onChange)="period_changed()" [(ngModel)]="selected_period" optionLabel="description" appendTo="body" type="text" [options]="period_options" styleClass="p-textinput-sm min-w-full"></p-dropdown>
        </div>
    </div>
    <div class="align-self-end">
        <div class="text-center">
            <button (click)="checkfavevent(op,$event)" *ngIf="hasfavourite" pButton class="p-button-warning p-button-rounded p-button-text mr-1" [icon]="isFavourite?'fa-solid fa-star':'fa-regular fa-star'"></button>
            <button *ngIf="definition.help_text" pButton icon="fa-solid fa-info" (click)="toggleinfo()" class="p-button-sm p-button-rounded p-button-text"></button>
        </div>
    </div>
</div>

<p-overlayPanel #op>
    <ng-template pTemplate>
        <h4>Set as Favourite</h4>
        <div class="grid mt-1">
            <div class="col-12 mt-2">
                <span class="p-float-label">
                    <input [disabled]="true" class="w-full" type="text" id="url" pInputText [(ngModel)]="favupdate.url"> 
                    <label for="url">
                        <span>Location</span>
                    </label>
                </span>
            </div>
            <div class="col-12 mt-2">
                <span class="p-float-label">
                    <input [disabled]="false" class="w-full" type="text" id="url" pInputText [(ngModel)]="favupdate.name"> 
                    <label for="url">
                        <span>Name</span>
                    </label>
                </span>
            </div>
            <div class="col-12 text-right">
                <button (click)="updateFavourite(op)" pButton icon="pi pi-save" class="p-button-success p-button-sm p-button-rounded"></button>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>
