<div class="grid" *ngIf="fullPage">
    <div class="col-12">
        <button pButton (click)="updateEdit()" label="Update" class="m-2 p-button-outlined p-button-rounded p-button-secondary"></button>
    </div>
    <div class="col-12">
        <div class="p-fluid grid mt-3">
            <div class="field col-9">
                <span class="p-float-label">
                    <input type="text" id="description" pInputText [(ngModel)]="fullPage.description"> 
                    <label for="description">Description</label>
                </span>
            </div>
            <div  class="field col-3">
                <span class="p-float-label">
                    <p-inputNumber [min]="0" [max]="100" inputId="column_count" [(ngModel)]="fullPage.column_count" [showButtons]="true" [maxFractionDigits]="0" mode="decimal"></p-inputNumber>
                    <label for="column_count">Columns</label>
                </span>
            </div>
            <div class="col-12">
                <p-table sortField="sort_order" [value]="fullPage.fields" dataKey="id">
                    <ng-template pTemplate="header">
                        <th>Label</th>
                        <th>Field</th>
                        <th>Type</th>
                        <th>Width</th>
                        <th>Column</th>
                        <th>Comp</th>
                        <th>Disable</th>
                        <th>Filter</th>
                        <th><button (click)="addButton()" pButton class="ml-2 p-button-sm p-button-rounded p-button-outlined p-button-success" icon="fa-solid fa-plus"></button></th>
                    </ng-template>
                    <ng-template pTemplate="body" let-field let-rowIndex="rowIndex">
                        <tr>
                            <td>{{field.label}}</td>
                          <td>{{field.fieldname}}</td>
                          <td>{{field.type}}</td>
                          <td>{{field.width}}</td>
                          <td>{{field.column_no}}</td>
                          <td>{{field.compulsory}}</td>
                          <td>{{field.disable_on}}</td>
                          <td>{{field.key_filter}}</td>
                          <td>
                            <span class="p-button-set">
                                <button pButton (click)="editButton(field,rowIndex)" class="ml-2 p-button-sm p-button-rounded p-button-outlined p-button-primary" icon="fa-solid fa-edit"></button>
                                <button pButton (click)="deleteButton(field,rowIndex)" class="ml-2 p-button-sm p-button-rounded p-button-outlined p-button-danger" icon="fa-solid fa-trash"></button>
                                <button pButton [disabled]="rowIndex==0" (click)="moveup(rowIndex,field)" class="ml-2 p-button-sm p-button-rounded p-button-outlined p-button-secondary" icon="fa-solid fa-arrow-up"></button>
                                <button pButton [disabled]="rowIndex==(fullPage.fields.length-1)" (click)="movedown(rowIndex,field)" class="ml-2 p-button-sm p-button-rounded p-button-outlined p-button-secondary" icon="fa-solid fa-arrow-down"></button>
                            </span>
                          </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Button" [modal]="true" [(visible)]="field_edit_display" *ngIf="edited_field" [style]="{width: '70vw'}">
    <div class="p-fluid grid mt-2">
        <div class="field col-12 md:col-2">
            <span class="p-float-label">
                <input type="text" id="label" pInputText [(ngModel)]="edited_field.label"> 
                <label for="label">Label</label>
            </span>
        </div>
        <div class="field col-12 md:col-3">
            <span class="p-float-label">
                <input type="text" id="fieldname" pInputText [(ngModel)]="edited_field.fieldname"> 
                <label for="fieldname">Field</label>
            </span>
        </div>
        <div  class="field col-12 md:col-1">
            <span class="p-float-label">
                <p-inputNumber [min]="1" [max]="12" inputId="width" [(ngModel)]="edited_field.width" [showButtons]="true" [maxFractionDigits]="0" mode="decimal"></p-inputNumber>
                <label for="width">Width</label>
            </span>
        </div>
        <div class="field col-12 md:col-2">
            <span class="p-float-label">
                <p-dropdown inputId="type" appendTo="body" [options]="['tex_entry','aut_entry','tex_disp','num_entry','num_disp','dat_entry','dat_disp','plst_entry','swch_entry','pitem_entry']" [(ngModel)]="edited_field.type"></p-dropdown>
                <label for="type">Type</label>
            </span>
        </div>
        <div class="field col-12 md:col-2" *ngIf="edited_field.type.indexOf('disp')<0">
            <span class="p-float-label">
                <input type="text" id="dsiable_on" pInputText [(ngModel)]="edited_field.disable_on"> 
                <label for="disable_on">Disable On</label>
            </span>
        </div>
        <div  class="field col-12 md:col-2" *ngIf="edited_field.type.indexOf('disp')<0">
            <span class="flex">
                <p-inputSwitch styleClass="mt-1" inputId="compulsory" [(ngModel)]="edited_field.compulsory"></p-inputSwitch>
                <label class="pl-2 pt-2" for="multiple">Compulsory</label>
            </span>
        </div>
        <div  class="field col-12 md:col-11">
            <span class="p-float-label">
                <input type="text" id="info_text" pInputText [(ngModel)]="edited_field.info_text"> 
                <label for="info_text">Information Text</label>
            </span>
        </div>
        <div  class="field col-12 md:col-1">
            <span class="p-float-label">
                <p-inputNumber [min]="0" [max]="12" inputId="column_no" [(ngModel)]="edited_field.column_no" [showButtons]="true" [maxFractionDigits]="0" mode="decimal"></p-inputNumber>
                <label for="column_no">Column</label>
            </span>
        </div>
        <div class="field col-12 md:col-3" *ngIf="edited_field.type=='num_entry'||edited_field.type=='dat_entry'||edited_field.type=='num_disp'||edited_field.type=='dat_disp'">
            <span class="p-float-label">
                <input type="text" id="format" pInputText [(ngModel)]="edited_field.format"> 
                <label for="format">Format</label>
            </span>
        </div>
        <div class="field col-12 md:col-3" *ngIf="edited_field.type=='tex_entry'">
            <span class="p-float-label">
                <input type="text" id="key_filter" pInputText [(ngModel)]="edited_field.key_filter"> 
                <label for="key_filter">Key Filter</label>
            </span>
        </div>
        <div class="field col-12 md:col-3">
            <span class="p-float-label">
                <input type="text" id="suffix" pInputText [(ngModel)]="edited_field.suffix"> 
                <label for="suffix">Suffix</label>
            </span>
        </div>
        <div class="field col-12 md:col-3" *ngIf="edited_field.type=='pitem_entry'||edited_field.type=='plst_entry'">
            <span class="p-float-label">
                <p-dropdown appendTo="body" [autoDisplayFirst]="false" [options]="lookuplist" [showClear]="true" [filter]="true" [filterBy]="'description'" [(ngModel)]="edited_field.lookup_id" optionLabel="description" optionValue="id">
                    <ng-template let-item pTemplate="item">
                        <span>{{item.description}}</span>
                    </ng-template>
                </p-dropdown>
                <label for="lookup">Lookup</label>
            </span>
        </div>
        <div class="col-12"  *ngIf="edited_field.type=='pitem_entry'||edited_field.type=='plst_entry'||edited_field.type=='aut_entry'">
            <div class="grid">
                <div class="field col-12 md:col-10">
                    <span class="p-float-label">
                        <input type="text" id="data_url" pInputText [(ngModel)]="edited_field.data_url"> 
                        <label for="data_url">Data Url</label>
                    </span>
                </div>
                <div class="field col-12 md:col-2">
                    <span class="p-float-label">
                        <p-dropdown inputId="type" appendTo="body" [options]="['','POST','GET']" [(ngModel)]="edited_field.data_url_method"></p-dropdown>
                        <label for="data_url_method">Method</label>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <textarea id="data_url_param" pInputTextarea pInputTextarea rows="3" [(ngModel)]="edited_field.data_url_param"></textarea>
                        <label for="data_url_param">Data Url Parameters</label>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <textarea id="aut_config" pInputTextarea pInputTextarea rows="3" [(ngModel)]="edited_field.aut_config"></textarea>
                        <label for="aut_config">Configurations</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 text-right"><button (click)="saveField()" pButton icon="fa-solid fa-floppy-disk" class="p-button-success p-button-rounded p-button-outlined"></button></div>
    </div>
</p-dialog>
